<li [ngClass]="{'list-group-item': true,
'list-group-item-success': nbrenotloves < nbreloves,
'list-group-item-danger': nbrenotloves > nbreloves}">

  <h4>{{ nomPostListItem }}</h4>
  <p class="dateformat">{{newDate | date:'dd/MM/y hh:mm a'}}</p>
  <p>{{ textePostListItem }}</p>
  <button type="button" class="btn btn-success" (click)="onPlusLove()">Love it ({{ nbreloves }})</button>
  <button type="button" class="btn btn-danger" (click)="onMoinsLove()">Don't love it ({{ nbrenotloves }})</button>
</li>